.height{
    height: 130px;
    width: 115%;
}
.margin{
    margin-left: 430px;
    margin-top: -165px;
}
.margin2{
    margin-left: 450px;
}
.margin3{
    margin-left: 770px;
    margin-top: -160px;
}
.height1{
    margin-left: 800px;
}
.heading1{
    color: coral;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.height2{
    margin-left:1100px ;
    margin-top: -180px;
}
.heading2{
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.heading4{
    margin-left:1115px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.heading3{
   
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.height3{
    margin-left:90px ;
    margin-top: 40px;
    
}

.heading5{
    margin-left:110px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.height4{
    margin-left:430px ;
    margin-top: -180px;
}

.heading6{
    margin-left:450px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.height5{
    margin-left:770px ;
    margin-top: -160px;
}

.heading7{
    margin-left:780px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.height6{
    margin-left:1110px ;
    margin-top: -160px;
}

.heading8{
    margin-left:1130px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.height7{
    margin-left:90px ;
    margin-top: 40px;
}

.heading9{
    margin-left:120px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.height8{
    margin-left:430px ;
    margin-top: -180px;
}

.heading10{
    margin-left:460px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.height9{
    margin-left:770px ;
    margin-top: -160px;
}

.heading11{
    margin-left:780px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.height10{
    margin-left:1110px ;
    margin-top: -180px;
}

.heading12{
    margin-left:1130px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.height11{
    margin-left:95px ;
    margin-top: 3px;
}

.heading13{
    margin-left:110px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.height12{
    margin-left:430px;
    margin-top: -180px;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.heading14{
    margin-left:450px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.height13{
    margin-left:770px;
    margin-top: -160px;
}

.heading15{
    margin-left:790px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.height14{
    margin-left:1110px;
    margin-top: -180px;
}

.heading16{
    margin-left:1130px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.height15{
    margin-left:90px;
    margin-top: 15px;
}

.heading17{
    margin-left:100px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.height16{
    margin-left:430px;
    margin-top: -180px;
}

.heading18{
    margin-left:450px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.height17{
    margin-left:770px;
    margin-top: -180px;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.heading19{
    margin-left:790px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.height18{
    margin-left:1110px;
    margin-top: -160px;
}

.heading20{
    margin-left:1130px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}






.height100{
    margin-left: 200px;
    margin-top: 100px ;
}
.heading2000{
    margin-left: 220px;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.height101{
    margin-left:600px;
    margin-top: -410px;
}

.heading2001{
    margin-left:610px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.height102{
    margin-left:1000px;
    margin-top: -410px;
}

.heading2002{
    margin-left:1010px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.height103{
    margin-left:200px;
    margin-top: 100px;
}

.heading2003{
    margin-left:220px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.height104{
    margin-left:600px;
    margin-top: -410px;
}

.heading2004{
    margin-left:620px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.height105{
    margin-left:1010px;
    margin-top: -410px;
}

.heading2005{
    margin-left:1030px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.height106{
    margin-left:200px;
    margin-top: 100px;
}

.heading2006{
    margin-left:220px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.height107{
    margin-left:600px;
    margin-top: -410px;
}

.heading2007{
    margin-left:620px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.height108{
    margin-left:1010px;
    margin-top: -410px;
}

.heading2008{
    margin-left:1030px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.height109{
    margin-left:200px;
    margin-top: 100px;
}

.heading2009{
    margin-left:220px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.height1010{
    margin-left:600px;
    margin-top: -410px;
}

.heading20010{
    margin-left:630px ;
    color: coral;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

